@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");

.wrapper {
  /* height: 800px; */
  /* width: 100%; */
  position: relative;
  align-items: center;
  background-color: rgb(24, 24, 24);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 20px;
}

.card {
  width: 80%;
  max-width: 1200px;
  height: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -2rem 2rem 3.2rem rgba(0, 0, 0, 0.2); */
}

.product_left {
  height: 800px;
  overflow-y: scroll;
  width: 90%;
  padding: 15px 2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  background: #333;
  color: #fff;
}

.product_right {
  background: #fff;
  width: 70%;
  height: 800px;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.backImg {
  width: 100%;
  height: 800px;
  filter: blur(4px);
  position: relative;
}

.frontImg {
  max-height: 700px;
  border-radius: 0.5rem;
  position: absolute;
  width: 90%;
}

.player {
  position: relative;
  z-index: -1;
}

.header h1 {
  text-transform: uppercase;
  margin: 2rem 0;
  font-size: 2.5rem;
}

/* Price */

.header h2 {
  margin: 0rem 0 2rem 0;
  font-weight: 300;
}

/* Product Description */

.product_main p {
  opacity: 0.5;
  margin: 2rem 0;
  line-height: 1.45;
}

.focus {
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  padding: 0 0 0.9rem 0;
  border-bottom: 0.2rem solid rgba(250, 250, 250, 0.3);
}

.focus span:last-child {
  margin: 0 0 0 1rem;
  width: 100%;
}

.focus span:first-child {
  border-bottom: 0.2rem solid #fff;
  padding: 0 0 0.9rem 0;
}

/* Choose color / quantity  */

.btns_group {
  width: 100%;
  margin: 0 0 2rem 0;
}

/* Total Price  */

.product_total {
  margin: 0 0 2rem 0;
}

.product_total p {
  font-weight: 700;
  font-size: 2rem;
  opacity: 0.5;
}

.product_total h3 {
  margin: 0 0 1rem 0;
}

/* Add to cart button  */

.product_add {
  background-color: #333;
  border: 1px solid #fff;
  width: 50%;
  padding: 1.5rem;
  border-radius: 5rem;
  transition: all 0.5s ease-out;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

.product_add:hover {
  background-color: #fff;
  color: #2e282a;
}

.product_incart {
  border: 1px solid #fff;
  width: 100%;
  padding: 1.5rem;
  border-radius: 5rem;
  transition: all 0.5s ease-out;
  background-color: #008a29;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

.product_incart:hover {
  background-color: #00581b;
  color: #ffffff;
}

.product_purchased {
  border: 1px solid #fff;
  width: 100%;
  padding: 1.5rem;
  border-radius: 5rem;
  transition: all 0.5s ease-out;
  background-color: #910000;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

.nav {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .card {
    flex-wrap: wrap;
    width: 60%;
  }
  .product_right {
    width: 90%;
  }
  .product_left {
    border-radius: 0;
  }
}

@media (max-width: 850px) {
  .card {
    width: 90%;
  }
  .product_right {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 500px) {
  .wrapper {
    padding: 0;
    padding-top: 20px;
  }
  
  .card {
    width: 100%;
  }
  /*
  .product_right {
    width: 100%;
    height: auto;
  }
  .product_left {
    padding: 5px;
    width: 97%;
  } */
  }

  .header h1 {
    font-size: 1.8rem;
  }

  .navspan {
    float: left;
    margin-right: 10px;
    font-size: 29px;
    margin-right: 10px;
    color: whitesmoke;
  }

  .avatar {
    height: 70px;
    width: 65px;
    border-radius: 100%;
    cursor: pointer;
    margin-right: 20px;
  }
