.product_main p {
    opacity: 0.5;
    margin: 2rem 0;
    line-height: 1.45;
  }

  #testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
  }

.testimonial_box_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial_box{
    width:500px;
    background-color: rgb(255, 255, 255, 0.85);
    padding: 20px;
    margin: 15px;
    /* cursor: pointer; */
    border-radius: 5px;
}
.profile_img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name_user{
    display: flex;
    flex-direction: column;
}
.name_user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name_user span{
    color: #979797;
    font-size: 0.8rem;
}
.box_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client_comment p{
    /* font-size: 0.9rem; */
    color: #4b4b4b;
}
/* .testimonial_box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
} */
 
@media(max-width:800px){
    .testimonial_box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .testimonial_box{
        width:100%;
    }
    .testimonial_heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box_top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}

.delete {
    width: 37px;
    font-size: 1.5rem;
    margin-left: 5px;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: rgb(18, 18, 18);
}
.delete:hover {
    filter: drop-shadow(0 0 0.5rem rgb(255, 255, 255));
}
