.loadBack {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.divImg {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tape {
}