.profileCard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture {
    margin: 10px;
    border-radius: 50%;
    opacity: 0.9;
    transition: all 0.3s linear 0s;
}

.profileInfo {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.userName {
    padding: 5px;
}