.profileCard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture {
    margin: 10px;
    border-radius: 50%;
    opacity: 0.9;
    transition: all 0.3s linear 0s;
    max-width: 100px;
}

.profileInfo {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.userName {
    padding: 5px;
}

.checkEmail{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    background-color: rgb(170, 25, 25);
    border-radius: 4px;
    margin: 50px;
}