*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.bodyForm {
    min-height: 90vh;
    width: 100%;
    display: flex;    
    background: #2b2828;
    background-position: 0 0, 10px, 10px ;
}

.containerform{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;    
}

.title{
    font-family: "gabriola";
    font-family: "gabriola";
    font-size: 4rem;
    margin-bottom: .5em;
    color: #fff
}

.form{
    background: none;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1rem);
    margin: auto;
    width: 150%;
    max-width: 700px; 
    padding: 2.5em 3em;
}

.group{
    position: relative;
}

.containerButtons{
    display: flex;    
    justify-content: space-evenly; 
    align-items: center;    
}


.buttonCreate {
    background-color: #242424;
    border-radius: 6px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 35px;
    width: 120px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 5px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 5px;
    border: 1px solid #e8eaed;    
}

.buttonCreate:hover{
    background-color: transparent;
  border: 2px solid white;  
}
    
    .inputLabel{
        cursor: pointer;
        position: absolute;
        top: -22px;
        left: 5px;
        font-family:"Carlito";
        font-size: 135%; 
        color: #fff;
    }
    
    .inputForm{
        width: 100%;
        padding: .8em .5em;
        font-size: 1rem;
        border: none;
        outline: none;
        border-bottom: 1px solid; ;
        background: none;
        color: white
    }

    .textarea {        
        resize: none;
        width: 100%;
        height: 150px;
        padding: .8em .5em;
        font-size: 1rem;
        border: none;
        outline: none;
        border-bottom: 1px solid; ;
        background: none;
        color: white
    }
    
    .selectCreate{
    padding: .6em .3em;
    background: none;
    width: 50%;
    font-size: 18px;
    outline: none;
    color: #6b5c5c;
}

.container_image{
    top: -22px;
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    position: relative;
    margin-top: 50px;
}

.options{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    font-size: 18px;
}

.opcion_title {
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.errors{
    color:#a4133c
}

.box_opcion {
 display: flex;
 margin-right: 9px;
 margin-top: 9px;
 justify-content: space-evenly;
 margin-bottom: 15px;
 background-color: transparent;
 border-radius: 5px;
 border: solid 2px;
}

.btn_remove{
    border-radius: 0px 4px 4px 0px;
    width: 20px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    padding: 0;   
    background-color: rgb(160, 0, 0);
  border: none;
  transition: 0.3s;
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
}

.btn_remove:hover {
    opacity: 1;
  }