* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.posterBack {
  background: #2b2828;
  height: 110%;
  width: 100%;
}

.posterImg {
  height: 700px;
}

.bodyForm {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #2b2828;
}

.containerform {
  margin-top: 2em;
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 2.5em;
}

.title {
  font-family: "gabriola";
  font-size: 4rem;
  line-height: 5px;
  margin-top: 2rem;
  color: #fff;
}

.form {
  background: none;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
  /* backdrop-filter: blur(1rem); */
  margin: auto;
  width: 100%;
  max-width: 700px;
  padding: 2.5em 3em;
  height: 110%;
}

.group {
  position: relative;
  grid-row: 1 / 2;
}

.groupB {
  position: relative;
  grid-row: 2 / 3;
}

.containerButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttonCreate {
  background-color: #242424;
  border-radius: 6px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 35px;
  width: 120px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 5px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 5px;
  margin-top: 5px;
  border: 1px solid #e8eaed;
}

.buttonCreate:hover {
  background-color: transparent;
  border: 2px solid white;
}

.inputLabel {
  cursor: pointer;
  position: absolute;
  top: -22px;
  left: 5px;
  font-family: "Carlito";
  font-size: 135%;
  color: #fff;
}

.inputForm {
  width: 100%;
  padding: 0.8em 0.5em;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  background: none;
  color: white;
}

.errorForm {
  width: 100%;
  padding: 0.8em 0.5em;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  outline: none;
  border-bottom: 1px solid red;
  background: none;
  color: white;
}

.textarea {
  margin-top: 20px;
  resize: none;
  width: 100%;
  height: 125px;
  padding: 0.8em 0.5em;
  font-size: 1rem;
  border: none;
  outline: none;
  border: 1px solid;
  border-radius: 2px;
  background: none;
  color: white;
}

.errorarea {
  resize: none;
  width: 100%;
  height: 150px;
  padding: 0.8em 0.5em;
  font-size: 1rem;
  border: none;
  outline: none;
  border: 1px solid red;
  border-radius: 2px;
  background: none;
  color: white;
}

.selectCreate {
  padding: 10px;
  background: #242424;
  width: 60% !important;
  font-size: 18px;
  outline: none;
  color: #dddddd;
  border-radius: 5px;
}

.container_image {
  top: -22px;
  width: 100%;
  height: 100%;
  border: none;
  color: white;
  position: relative;
  margin-top: 50px;
}

.options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 18px;
}

.opcion_title {
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.errors {
  color: #ff0000;
  line-height: 0px;
  font-size: 10px;
}

.box_opcion {
  display: flex;
  margin-right: 9px;
  margin-top: 9px;
  justify-content: space-evenly;
  margin-bottom: 15px;
  background-color: transparent;
  border-radius: 5px;
  border: solid 2px;
}

.btn_remove {
  border-radius: 0px 4px 4px 0px;
  width: 20px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  padding: 0;
  background-color: rgb(160, 0, 0);
  border: none;
  transition: 0.3s;
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
}

.btn_remove:hover {
  opacity: 1;
}

@media (max-width: 800px) {
  .bodyForm {
    display: flex !important;
    flex-direction: column;
  }

  .posterBack {
    display: none;
  }

  .selectCreate {
    width: 60% !important;
  }

  .buttonCreate {
    width: 150px !important;
    height: 40px !important;
  }

  .containerform {
    height: 100vh !important;
  }
}
