.containerPaginado{
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: stretch;
}

.paginado{
margin-bottom: 20px;
display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}


.number{
  width: 35px;
  height: 35px;
  margin-left: 7px;
  margin-right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numberButton{

  border-radius: 4px;
  width: 30px;
  height: 25px;
  background-color:  #2b2725;
color: antiquewhite;
font-size: 18px;
}

.numberButton:hover{
background-color: rgb(116, 106, 106);
color: black; 
}

.numberButton:focus{
  background-color: #a08369;
  color: white;
}



