.containerPaginado {
  display: flex;
  direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-top: 20px;
  gap: 10px;
}

.paginado {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.numberButton {
  border-radius: 4px;
  width: 30px;
  height: 25px;
  background-color: #2b2725;
  color: antiquewhite;
  font-size: 18px;
}

.numberButton:hover {
  background-color: rgb(116, 106, 106);
  color: black;
}

.numberButton:focus {
  background-color: antiquewhite;
  color: black;
}

.passButton {
  border-radius: 4px;
  width: 30px;
  height: 25px;
  background-color: #2b2725;
  color: antiquewhite;
  font-size: 18px;
}

.passButton:hover {
  background-color: rgb(116, 106, 106);
  color: black;
}
