.nav {  
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(24, 24, 24);
    padding: 0.1px;
    padding-top: 0;
    border-bottom: 1px solid rgb(95, 95, 95);
    width: 100%;
}

.cart {
    color: whitesmoke;
    /* margin-top: 1px; */
    /* margin-top: 20px; */
    height: 35px;
    /* margin-left: 3vh; */
    cursor: pointer;
}

.link {
    height: 37px;
    text-decoration: none;
}

#cart_menu_num {
    position: relative;
    top: -45px;
    left: 70%;
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
  }

.cart:hover {
    transform: scale(1.5);
    color: goldenrod;
}


.user {
    color: whitesmoke;
    margin-top: 1px;
    height: 35px;
    cursor: pointer;
}

.user:hover {
    transform: scale(1.5);
    color: goldenrod;
}

.btn {
    color: #b983ff;
    font-size: 2.5vh;
    margin-left: 40vh;
    margin-top: 18px;
}

.btn:hover {
    color: whitesmoke;
    transform: scale(1.3)
}

.divHome {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
}

.btnHome {
    color: whitesmoke;
    font-size: 50px;
    font-family: "Edwardian Script ITC";
    font-weight: 100;
}

.logo {
    width: 400px;
    margin-top: 2px;
}

.movieIcon {
    margin-left: 5px;
    color: whitesmoke;
    height: 35px;
    /* -webkit-filter: drop-shadow(3px 3px 0 #b983ff)
    drop-shadow(3px 3px 0 #b983ff);
    filter: drop-shadow(3px 3px 0 #b983ff) 
    drop-shadow(3px 3px 0 #b983ff); */
}

.movieIcon:hover {
    color: goldenrod;
    transform: scale(1.5);
   /*  height: 30px;
    -webkit-filter: drop-shadow(3px 3px 0 whitesmoke)
    drop-shadow(3px 3px 0 whitesmoke);
    filter: drop-shadow(3px 3px 0 whitesmoke) 
    drop-shadow(3px 3px 0 whitesmoke); */
}

.backButton{
    width: 25px;
    height: 20px;
}